

<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">

        <mat-toolbar color="primary">
            <span>CMS</span>
            <span class="spacer"></span>
            
                <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./Menu"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>people_alt</mat-icon>
               <span>Clientes</span>
            </a>

            <a routerLink="./agregar"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>person</mat-icon>
               <span>Usuarios</span>
            </a>

            <a routerLink="./buscar"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>search</mat-icon>
               <span>Buscar Usuario</span>
            </a>
            <a routerLink="./categorias"
                mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>category</mat-icon>
               <span>Categorias</span>
            </a>
            <a routerLink="./publicaciones"
                mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>dashboard</mat-icon>
               <span>Publicaciones</span>
            </a>

            

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                 (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>

        <button mat-button>
            <mat-icon mat-list-icon>logout</mat-icon>
            Logout
        </button>
    
    </mat-toolbar>

    <div class="container">
        
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>